@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300;500;700&display=swap');

h1 {
  color:#EDF5E1;
  font-weight: 700;
  font-size: 3.5em;
  border: 0px;
  border-radius: 8px;
  padding: 8px;
  background-color:#379683;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1#homepage {
  font-size:4em;
  width: 60%;
}
h2, h3, h4 {
  color:#EDF5E1;
  font-weight: 500;
  text-align: center;
}
h4.navigation {
  color:#EDF5E1;
}
p {
  color:#05386B;
  margin-left: auto;
  margin-right: auto;
  width: 66%;
  text-indent: 45px;
}
.essay {

}
.centered {
  text-indent: 0px;
}
p#introduction {
  margin-right: 15%;
  font-size: 2em;
  font-weight: 500;
}
body {
  margin: 0;
  color:#05386B;
  background-color:#5CDB95;
  font-family: 'Antonio', sans-serif;
  font-weight: 300;
}

ul {
  text-align: center;
  list-style:none;
}
.default {
  font-size: 108%;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

hr {
  color:black;
}
li {
  text-align: center;
}


a {
  color:#EDF5E1
}

a:hover {
  color:#5CDB95;
  font-style:italic;
}

a:checked {
  color:#EDF5E1
}
a:active {
  color: #05386B;
}

img#tft_set_5_cheatsheet{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img#guilord_college {
  background-color: #a80135;
  border-radius: 200px;
  float: left;
  margin-left: 4%;
  margin-right: 5%;
}

nav {
  position: sticky;
  top: 0;
  background-color:#5CDB95;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 6.5px solid #379683;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display:flex;
  justify-content: center;
  box-sizing: border-box;
  height: 60px;
}
 nav a{
  font-size: 1.2em;
  font-weight:500;
  display: inline;
  border: 6px solid #05386B;
  border-radius: 4px;
  padding: 3px;
  padding-bottom: 10px;
  background-color: #05386B;
  text-decoration: none;
}

nav a:hover {
  border: 6.5px solid #05386B;
  font-size: 1.3em;
}

footer p {
  font-family: "Times New Roman", sans-serif;
  text-align: center;
  color: grey;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.flexible{
  display:flex;
  justify-content: center;
}

div.flexible a {
  font-size: 1.2em;
  font-weight:500;
  display: inline;
  border: 6px solid #05386B;
  border-radius: 4px;
  padding: 3px;
  background-color: #05386B;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.flexible div.content {
  width: 25%;
}

div.spacer {
  width:5%;
}

button {
  margin-right: 45%;
  margin-left: 48.5%;
}
input {
  margin-right: 45%;
  margin-left: 46%;
}

@media only screen and (max-width:480px) {
  max-width:480px;
  img {
    float: none;
  }
  p {
    margin-left: 0;
    margin-right: 0;
  }
  p#introduction {
    margin-right: 0;
  }
}
